<div class="home-page" fxLayout="column" fxLayoutAlign="center space-between">
  <app-header></app-header>

  <mat-sidenav-container class="home-page__container" fxLayoutAlign="center center">
    <mat-sidenav>
      <mat-nav-list>
<!--        TODO-->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content fxLayout="column" fxLayoutAlign="center center" fxFlex>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
