<div *ngFor="let route of routesData">
  <div class="ticket">
    <mat-accordion>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            From {{route.from}} to {{ route.to }}
          </mat-panel-title>
          <mat-panel-description>
            Valid: {{ route.startTime | customDate }} --- {{route.endTime | customDate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column" fxLayoutGap="10px">
          <div>
            Active passengers: {{ route.activePassengers }}
          </div>
          <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="end end">
            <button mat-button color="accent" (click)="addToCart(route.id)">Add to cart</button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
