<div class="profile-page">
  <div class="profile-page__title">
    <h2>Profile</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-page__content">
    <div class="profile-page__content-data">
      <h3>Profile datas</h3>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Name:</span>
        <span>Ahmed Ahbar</span>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Email:</span>
        <span>Ahmed@Ahbar.com</span>
      </div>
    </div>
    <div class="profile-page__content-data">
      <h3>Profile datas modify</h3>
      <mat-divider></mat-divider>
      <br>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Modify account name</mat-label>
          <input type="text" matInput placeholder="Ex. Other Other">
        </mat-form-field>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-button color="accent">Modify</button>
        <button mat-button color="warn" class="border-warn">Delete Account</button>
      </div>
    </div>
  </div>
</div>
