<div class="profile-page">
  <div class="profile-page__title">
    <h2>Profile</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-page__content" fxLayout="column" fxLayoutGap="15px">
    <div class="profile-page__content-data">
      <h3>Profile datas</h3>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Name:</span>
        <span>{{ auth.getUserUseName() }}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Email:</span>
        <span>{{ auth.getUserMail() }}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Money:</span>
        <span>TODO:  FT</span>
      </div>
    </div>
    <form [formGroup]="modifyNameFormGroup" class="profile-page__content-data">
      <h3>Profile datas modify</h3>
      <mat-divider></mat-divider>
      <br>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Modify account name</mat-label>
          <input type="text" formControlName="newName" matInput placeholder="Ex. Other Other">
        </mat-form-field>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-button color="accent" (click)="modify()" [disabled]="!modifyNameFormGroup.valid">Modify</button>
        <button mat-button color="warn" class="border-warn" (click)="deleteAccount()">Delete Account</button>
      </div>
    </form>
  </div>
</div>
