<div class="profile-page">
  <div class="profile-page__title">
    <h2>Profile</h2>
  </div>
  <mat-divider></mat-divider>
  <div class="profile-page__content" fxLayout="column" fxLayoutGap="15px">
    <div class="profile-page__content-data">
      <h3>Profile datas</h3>
      <mat-divider></mat-divider>
      <br>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Name:</span>
        <span>{{ auth.getUserUseName() }}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Email:</span>
        <span>{{ auth.getUserMail() }}</span>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <span>Money:</span>
        <span>{{ auth.getBalance() }}  FT</span>
      </div>
    </div>
    <h3>Profile datas modify</h3>
    <mat-divider></mat-divider>
    <form [formGroup]="modifyNameFormGroup" class="profile-page__content-data">
      <br>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Modify account name</mat-label>
          <input type="text" formControlName="newName" matInput placeholder="Ex. Other Other">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-button color="accent" (click)="modifyName()" [disabled]="!modifyNameFormGroup.valid">Modify Name</button>
      </div>
    </form>
    <form [formGroup]="modifyPassFormGroup" class="profile-page__content-data">
      <br>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Add money</mat-label>
          <input type="text" formControlName="newPass" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-button color="accent" (click)="modifyPass()" [disabled]="!modifyPassFormGroup.valid">Modify Password</button>
      </div>
    </form>
    <form [formGroup]="modifyBalanceFormGroup" class="profile-page__content-data">
      <br>
      <div>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Modify Balance</mat-label>
          <input type="number" formControlName="newBalance" matInput>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="15px">
        <button mat-button color="accent" (click)="modifyBalance()" [disabled]="!modifyBalanceFormGroup.valid">Add money</button>
      </div>
    </form>
  </div>
</div>
