<div class="home-page__container-content" fxLayout="row" fxLayoutAlign="center center">
  <div class="home-page__container-content-text">
    <h1>Tick it easy, around the world!</h1>
    <h4>This page is awesome! Sign in to check it!</h4>
  </div>
  <form class="home-page__container-content-form" fxLayout="column" [formGroup]="loginFormGroup" (ngSubmit)="submitForm()">
    <h1>Login</h1>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" formControlName="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" formControlName="password" matInput placeholder="Password">
    </mat-form-field>
    <div  fxLayout="row" fxLayoutGap="10px">
      <button mat-button color="accent" type="submit" >Sign in</button>
      <button mat-button color="accent" routerLink="/registration">Registration</button>
    </div>
  </form>
</div>
